@use 'variables.scss';
@use 'mixins/general.scss' as mixins;
@use 'sass:map';

body {
    font-family: variables.$font-family;
    color: variables.$postal-blue;
    background-color: map.get(variables.$primary-colors, "white");
}

ul, ol {
    font-size: 16px;
    line-height: 22px;
    padding: 0px 5px;
}

@import 'button';
@import 'headers';
@import 'card';